<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
    <title>TinyApp</title>
        <link rel= "stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body {padding-top: 50px; }

    </style>

        <nav class = "navbar navbar-default" role="navigation">
            <div class = "container-fluid">
            <div class ="navbar-header">
                <a class ="navbar-brand" href="#">
                 <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>TinyApp</a>
<a href="/register">Register</a>
<a href="/login">Login</a>


<% if( user) { %>
        <h1><%= user.email %></h1>
        <form action="/logout" method="POST" style="margin:150px;">
           <label for="user">Logout: </label>
        <input id="user" type="text" name="user" style="width: 300px">
        <input type="submit" value="Submit">
    </form>

    <% } %>
   </ul>
 </div>
</div>
</nav>