<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>TinyApp</title>
</head>

<body>
<!-- Sets Logout button if user is logged in -->
    <% if( user) { %>
    <strong>Hello <%= user.email %>!</strong>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    <% } else{ %>
    <!-- Otherwise show Register an dLogin buttons -->
    <a href="/register">Register</a> <a href="/login">Login</a>
    <% } %>

</body>

