<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
 </head>
 <body>
  <h2> List of URLS </h2>


  <ul>
      <% for(var url in urls) { %>

        <li><%= url %> - <%= urls[url] %> </li>
        <form method="POST" action="/urls/<%= url%>/delete">
        <button type="submit"> Delete </button>


        </form>
        <% } %>

  </ul>


  <a href=" ">Click here to shorten URL</a>

 </body>
 </html>

