<!DOCTYPE html>
<html lang="en">
   <head>
      <title>TinyApp</title>
      <% include ./partials/_header %>
   </head>
   <body>
      <p><strong> List of URLS </strong></p>
      <% for(let shortURL in urls) { %>
      <% var longURL = urls[shortURL] %>
      <ul>
         <li>localhost:8080/u/<%= shortURL %> - <%= longURL %> </li>
         <form method="POST" action="/urls/<%= shortURL%>/delete">
            <button type="submit"> Delete </button>
         </form>
              <form method="POST" action="/urls/<%= shortURL%>/update">
            <button type="submit"> Edit </button>
         </form>
      </ul>
      <a href="/urls/new">Click here to shorten URL</a>
      <% } %>
   </body>
</html>